[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yfinance = "*"
isort = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
gymnasium = "*"
stable-baselines3 = "*"
stockstats = "*"
pyfolio = "*"
optuna = "*"

[dev-packages]
ipykernel = "*"
black = "*"
flake8 = "*"
pytest = "*"
pytest-asyncio = "*"
build = "*"

[requires]
python_version = "3.10"
